<div class="form-group destruction">
    <label title="{{destruction-label-title}}">{{destroyLabel}}</label>
    <div class="form-fields">
        {{#if en}}
        <input type="checkbox" name="flags.dicerecharge.destroy.check" checked>
        {{else}}
        <input type="checkbox" name="flags.dicerecharge.destroy.check">
        {{/if}}
        <span class="sep dicerecharge">{{destroyIfLabel}}</span>
        <select name="flags.dicerecharge.destroy.die" {{{disableFields}}}>
            {{#each dieOptions as |die|}}
            <option value="{{die.key}}" {{{destroyDie die.key}}}>{{die.label}}</option>
            {{/each}}
        </select>
        <span class="sep dicerecharge">&le;</span>
        <input type="number" name="flags.dicerecharge.destroy.threshold" data-dtype="number" value="{{threshold}}" min="1" oninput="validity.valid || (value=1)" {{{disableFields}}}>
    </div>
</div>
