<div class="form-group dicerecharge">
    <label title="{{recovery-label-title}}">{{recovery-label}}</label>
    <div class="form-fields">
        <input type="text" name="flags.dicerecharge.recovery-formula" value="{{recovery-formula}}">
        <span class="sep dicerecharge">{{specialSep}}</span>
        {{#if special}}
        <input type="checkbox" name="flags.dicerecharge.special-event.active" checked>
        {{else}}
        <input type="checkbox" name="flags.dicerecharge.special-event.active">
        {{/if}}
    </div>
</div>
{{#if special}}
<div class="form-group dicerecharge-special">
    <label title="{{special-label-title}}">{{special-label}}</label>
    <div class="form-fields">
        <input type="text" name="flags.dicerecharge.special-event.formula" value="{{special-formula}}">
        <span class="sep dicerecharge">{{labelIf}}</span>
        <select name="flags.dicerecharge.special-event.die">
            {{#each specialDice as |die|}}
            <option value="{{die}}" {{{ifeq die specialSelected}}}>{{die}}</option>
            {{/each}}
        </select>
        <span class="sep dicerecharge">&ge;</span>
        <input type="number" name="flags.dicerecharge.special-event.threshold" value="{{special-threshold}}">
    </div>
</div>
{{/if}}
