.sep.dicerecharge {
  white-space: nowrap;
  margin: 0 3px 0 0 !important;
}

[name="flags.dicerecharge.special.threshold"] {
  flex: 0.25 !important;
}

[name="flags.dicerecharge.special.die"] {
  flex: 0 !important;
}

.dicerecharge.dialog .dialog-content {
  text-align: center;
}

.dicerecharge.dialog img {
  width: 35%;
  border: none;
}
