.sep.dicerecharge {
    white-space: nowrap;
    margin: 0 3px 0 0 !important;
}
[name="flags.dicerecharge.special-event.threshold"] {
    flex: 0.25 !important;
}
[name="flags.dicerecharge.special-event.die"] {
    flex: 0 !important;
}
